*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  white-space: no-wrap;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(97, 97, 136);
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
}