* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  background-color: rgb(113, 84, 84);
  color: white;
  padding: 10px 20px;
  margin: 20px;
  border: 2px solid black;
  font-weight: 700;
  font-size: larger;
}

.count {
  background-color: rgb(113, 84, 84);
  padding: 10px 20px;
  margin: 20px;
  width: fit-content;
  color: white;
  border: 1px solid black;
  margin-left: 240px;
  font-weight: 700;
  font-size: larger;
}